   .headerParent{
       width:100%;
       margin: auto;
       box-shadow: 0px 4px 4px #bdbdbd;
       overflow: hidden;
   }
    .header {
        width:900px;
        margin: auto;
        overflow: hidden;
    }
    .headerLeft{
        color: grey;
        width:48%;
        height: 40%;
        padding:1%;
        font-size: .7em;
    float:left;
}
.headerRight{
    width:48%;
    padding:1%;
    text-align: right;
    height: 40%;
    float:left;
}
.headerRightButton{
    width:20%;
    color: grey;
    height: 40%;
    font-size: .7em;
    float:left;
    text-align: right;
}

hr{
        border: none;
        height: 10px;
        background: #ccc;
    }

