.footer{
    width:900px;
    margin: auto;
    overflow: hidden;
}
.footerParent{
    width:100%;
    background-color: black;
    overflow: hidden;
}
.footerLeft{
    width:100%;
    height: 40%;
    padding:2%;
    font-size: .8em;
    color:white;
    background-color: black;
    float:left;
}

.footerAbout{
    width:4.5%;
    height: 40%;
    text-align: left;
    font-size: .8em;
    float:left;
}
.footerContact{
    width:5%;
    text-align: left;
    height: 40%;
    font-size: .8em;
    float:left;
}
.footerPrivacyPolicy{
    width:8%;
    text-align: left;
    height: 40%;
    font-size: .8em;
    float:left;
}
.footerReturnPolicy{
    width:7%;
    height: 40%;
    font-size: .8em;
    float:left;
}

hr{
    border: none;
    height: 10px;
    background: #ccc;
}

